<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.modinify.openactivity"
        version="0.0.1">

  <name>Open Activity</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <!--
  <asset src="www/openactivity.js" target="js/hello.js"/>
  -->

  <js-module src="www/openactivity.js" name="openactivity">
    <clobbers target="openactivity" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Hello">
        <param name="android-package" value="com.example.sample.Hello"/>
      </feature>
    </config-file>
	<source-file src="src/android/src/com/modinify/opencativity/openActivity.java" target-dir="src/com/modinify/opencativity/"/>
  </platform>

</plugin>